/* Styles top section of all pages of the website */

#top-section {
    background-color: mediumseagreen;
    color: white;
}

#top-section-header {
    display: inline;
}

#top-section-span {
    margin-left: 10px;
    font-size: small;
    font-style: italic;
}

/* Styles curiosities page */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
  }
th {
    background-color: mediumseagreen;
    color: white;
}

  tr:nth-child(even) {
    background-color: #98ffdd;
  }

#header2-curiosities {
    font-style: italic;
}

#span-curiosities {
    background-color: yellow;
    font-weight: bold;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}

#header4-curiosities {
    color: rgb(39, 39, 39);
    font-style: italic;
}

/* Styles signature of all pages*/

.signature {
    display: block-inline;
    text-align: center;
    font-size: small;
}