/* Styles top section of website */

#top-section {
    background-color: mediumseagreen;
    color: white;
}

#top-section-header {
    display: inline;
}

#top-section-span {
    margin-left: 10px;
    font-size: small;
}


/* Styles signature */

.signature {
    display: block-inline;
    text-align: center;
    font-size: small;
}